<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <form action="/uservehicle/addvehicle" method="POST">
        email : <input type="email" name="email"><br>
        type : <input type="text" name="type"><br>
        brand : <input type="text" name="brand"><br>
        model : <input type="text" name="model"><br>
        catagory : <input type="text" name="catagory"><br>
        number : <input type="text" name="number"><br>
        parkingarea : <input type="text" name="parkingarea"><br>
        longitude : <input type="text" name="longitude"><br>
        latitude : <input type="text" name="latitude"><br>
        prefferedTime : <input type="text" name="prefferedTime"><br>
        <!-- catagory : <input type="text" name="catagory"><br>
        month : <input type="number" name="month"><br> -->
        <input type="submit" value="submit">
        </form>
    </body>
</html>