<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <form action="/addpack" method="POST">
        packageId : <input type="number" name="packageId"><br/>
        name : <input type="text" name="name"><br/>
        price : <input type="number" name="price"><br/>
        details : <input type="text" name="details"><br/>
        description : <textarea style="white-space:pre-line" name="description" value="hey"><br/>
        vehicleCatagory : <input type="text" name="vehicleCatagory"><br/>
        vehicleType : <input type="text" value="vehicleType"><br/>
        duration : <input type="text" value="duration"><br/>
        timecost : <input type="text" value="timecost"><br/>
        flag : <input type="number" value="flag">
        <input type="submit" value="submit">
        </form>
    </body>
</html>