<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <form action="/service/add" method="POST">
        number : <input type="text" name="number"><br>
        serviceName : <input type="text" name="serviceName"><br>
        timeCost : <input type="text" name="timeCost"><br>
        vehicleType : <input type="text" name="vehicleType"><br>
        details : <input type="text" name="details"><br>
        price : <input type="number" name="price"><br>
        validTime : <input type="text" name="validTime"><br>
        <!-- catagory : <input type="text" name="catagory"><br>
        month : <input type="number" name="month"><br> -->
        <input type="submit" value="submit">
        </form>
    </body>
</html>